#cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 1rem;
    background: var(--black);
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

#nav {
    display: flex;
    align-items: center;
}

#menu {
    display: flex;
    list-style: none;
    gap: 5rem;
}

#btn-mobile {
    display: none; /* Ocultar o botão por padrão */
}

@media (max-width: 800px) {
    #btn-mobile {
        display: flex; /* Mostrar o botão em telas menores */
        padding: .5rem;
        background: none;
        border: none;
        color: var(--white);
    }

    #menu {
        display: none; /* Ocultar o menu por padrão */
        position: absolute;
        top: 60px; /* Abaixo do cabeçalho */
        left: 0;
        width: 100%;
        background: var(--black);
        z-index: 10;
    }

    #nav.active #menu {
        display: block; /* Mostrar o menu quando ativo */
    }

    #menu li {
        padding: 1rem 0;
        text-align: center;
        border-bottom: 2px solid rgba(255, 238, 238, 0.404);
    }
}

