.formulario-section{
    width: 75rem;
    border-radius: 25PX;
    max-width: 75rem;
    padding: 5rem;
    margin: 0 auto;  
    margin-bottom: 2rem;
}

.coracaofigure{
    margin-top: 2em;
}

.desc-form{
    text-align: center;
}

#desc-h1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
}

#title-form{
    text-align: center;
    font-size: 25px;
    margin-top: 1em;
    margin-bottom: 2em;
}

.form-cadastro{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.inputs-esquerdo {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: solid 2px rgb(112, 124, 251);
    border-radius: 0;
}

.form-esquerdo{
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    border-right: solid 2px rgb(112, 124, 251);
}


.form-direita{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}


.inputs-direita {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: solid 2px rgb(112, 124, 251);
    border-radius: 0;
    
}


#botao-form-cadastro{
    margin-right: 2em;
    padding: 7px;
    border-style: none;
    border-radius: 10px;
    background-color: #707cfb;
    font-weight: bolder;
}


#botao-form{
    margin-right: 2em;
    border-radius: 10px;
    background-color: #707cfb;
}

.confirmarcao-perfil{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.btns-do-perfil{
    text-align: center;
}



