.formulario-section{
    margin: 1em auto;
    width: 40em;
    background-color: #fff;
    border-radius: 10px;
    text-align: left;
}

.coracaofigure{
    margin-top: 2em;
}

.desc-form{
    text-align: center;
}

#desc-h1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
}

#title-form{
    text-align: center;
    font-size: 25px;
    margin-top: 1em;
    margin-bottom: 2em;
}

.form-1{
    display: grid;
}

#nome-input{
    font-size: 20px;
}

#label-end{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

input{
    margin-top:0.5em;
    padding: 0.5em;
    background-color: #fff;
    color: #000;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
}

input::placeholder{
    color: #000;
}

#label-uf{
    font-size:20px;
    font-weight: 600;
    margin-top: -20px;
    text-align: left;
    margin-left: 6em;
}

#label-end{
    margin-top: 10px;
    text-align: left;
    font-weight: 500;
}

option{
    color:#000
}

select{
    color:#000;
    font-weight: 100;
    padding-left: 1em;
    border-radius: 10px;
}

.form-2{
    margin-top: 1em;
}

textarea{
    margin-top:10px;
    color: #000;
    padding: 5px;
    border-radius: 10px;
}

.botao-form-cadastro{
    margin-bottom: 20px;
}

#nome-input{
    text-align: left;
    margin-left: 6em;
}

.endereco-div{
    text-align: left;
    margin-left: 7em;
}


#textarea-form{
    margin-top: 0.3em;
    margin-left: 7.5em;
}

#foto{
    margin-left: 7.5em;
    margin-top: 0.3em;
}

#inputsenha{
    margin-left: 7.5em;
}

#inputsenha1{
    margin-left: 7.5em;
}

.btns{
    margin-left: 7.5em;
    display: flex;
}

.inputs-form{
    display: grid;
}

input{
    margin-left: 7.5em;
    width: 20em;
}

#botao-form{
    margin-right: 2em;
    border-radius: 10px;
    background-color: #707cfb;
}