
:root {
    --black: #000000;
    --background:#161b22;
    --white: #ffffff;
    --roxo: #8224fe;
    --azul: #707cfb;
    --rosa: #f952ff;
}


#imgongcapa{
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0px 0px ;
    filter: brightness(0.9);
    
}

#picture__input {
    display: none;
}


#picture__input2 {
    display: none;
}

.pic {
    display: flex;
    justify-content: center;
}

.picture{
    display: flex;
    align-items: center;
    aspect-ratio: 16/9;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    background: #ddd;
    color: #aaa;
    border: 2px dashed currentColor;
    border-radius: 100% ;
    cursor: pointer;
    transition: color 500ms ease-in-out, background 500ms ease-in-out;
    outline: none;
    z-index: 2;
}

.picture:hover{
    color: #777;
    background: #ccc;

}

.picture:active {
    background: #eee;
    border-color: #8224fe;
    color: #8224fe;
    box-shadow:  2px 2px 15px 10px #8224fe4f;
}

.picture:focus {
    background: #eee;
    border-color: #8224fe;
    color: #8224fe;
    box-shadow: 0 0 15px  #8224fe4f;
}

.picture__img{
    width: 20rem;
    height: 20rem;
    border-radius: 100% ;
    
}

.controler_perfil{
    z-index: 0;
}

.editar {
    background-color: #161b22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.coracaocad {
    text-align: center;
}

#coracao {
    display: block;
    margin: auto;
    width: 150px;
}

.kk{
background: var(--white);
width: 75rem;
border-radius: 25PX;
max-width: 75rem;
padding: 5rem;
margin: 0 auto;  
margin-bottom: 2rem;
}

h1{
    font-size: 20px;
}

.editar-inputs{
    margin: 0;
    width: 100%;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom-color:  rgb(112, 124, 251);
    font-weight: 800;
    border-radius: 0;
}

.divisao-inputs{
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    
}

.divisao-inputs-solos{
    width: 100%;
}

.editar-inputs-solos{
    margin: 0;
    width: 65rem;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 0;
    border-bottom-color:  rgb(112, 124, 251);
}


#botao-form-cadastro{
    margin-right: 2em;
    padding: 7px;
    border-style: none;
    border-radius: 10px;
    background-color: #707cfb;
    font-weight: bolder;
}


#botao-form{
    margin-right: 2em;
    border-radius: 10px;
    background-color: #707cfb;
}

.confirmarcao-perfil{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.btns-do-perfil{
    text-align: center;
}

