/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #0d0b28;
    color: white;
  }
  
  .admin-container {
    display: flex;
    height: 100%;
    width: 100%;
  }
  
  .admin-sidebar {
    background-color: #17152c;
    padding: 20px;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #admin-button-ong, #admin-button-cont {
    background-color: #17152c;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    align-items: center;
    margin-bottom: 50%;
  }
  
  #admin-button-ong:hover, #admin-button-cont:hover {
    background-color: rgba(0.2, 0.2, 0.2, 0.5);
    border-radius: 10px;
    
  }
  
  #admin-title-ong-button {
    margin-left: 10px;
  }
  
  #admin-icon-button {
    width: 20px;
    margin-right: 10px;
  }
  
  .admin-content {
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    color: black;
  }
  
  .admin-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .admin-profile-placeholder {
    width: 80px;
    height: 80px;
    background-color: lightblue;
    border-radius: 50%;
  }
  
  .admin-org-button {
    background-color: #f2f2f2;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .admin-status-dropdown select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .admin-info-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .admin-info-left, .admin-info-right {
    width: 45%;
  }
  
  p {
    margin: 10px 0;
  }

  .admin-div-empurra{
    background-color: #17152c;
    height: 5em;
  }

  strong{
    color: #000;
  }

  .admin-org-button{
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
  }

  option{
    color: #000;
  }

  select{
    color: #000;
    margin-left: 0.5em;
  }