:root {
    --black: #000000;
    --background: #161b22;
    --white: #ffffff;
    --purple: #8224fe;
    --blue: #707cfb;
    --pink: #f952ff;
}

.ods-highlight {
    color: var(--white);
}

.main-content {
    background-color: #161b22;
}

body {
    background: var(--background);
    color: var(--white);
}

.hero-section {
    background: linear-gradient(to right, #707bff, #fa52ff);
    padding: 10%;
    text-align: center;
    margin-top: 2rem;
    border-radius: 25px 25px 0 0;
}

.about-title {
    color: var(--white);
    font-weight: 600;
    font-size: 3rem;
}

.info-section {
    background-color: var(--black);
    color: var(--white);
}

.article-section {
    padding: 2%;
    color: var(--white);
}

.article-title {
    color: var(--white);
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
}

.article-content {
    font-size: 1.5rem;
    color: var(--white);
    padding: 0.5% 2%;
}

.vision-section {
    padding: 2%;
    color: var(--white);
}

.vision-title {
    color: var(--white);
    font-weight: 600;
    font-size: 2rem;
}

.vision-content {
    color: var(--white);
    font-size: 1.5rem;
    padding: 0% 2%;
}

.impact-section {
    background: var(--background);
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 25px;
    padding: 1em;
}

.impact-content {
    color: var(--white);
    width: 100%;
    padding: 2%;
}

.impact-title {
    color: var(--white);
    font-size: 2rem;
    font-weight: bolder;
}

.impact-description {
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.ods-image-container {
    margin-bottom: 2rem;
}

.ods-image {
    width: 15rem;
}

.ods-images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.main-content {
    margin-top: -32px; 
    padding: 0 10em;
}

.espaco{
    height: 8em;
}

.main-content{
    padding: 0 20em;
}

.impact-section{
    background-color: rgba(0,0,0,0.5);
    margin-top:5rem;
}